body {
    background-color: #faebd7;
    color: #5c4033;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#vanta{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.contact-form-container {
    background-color: #f4a560cb;  
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #d2691e;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #8b4513;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #cd853f;
    border-radius: 4px;
    background-color: #cd853f;
    color: #5c4033;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #8b4513;
    color: #faebd7;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #faebd7;
    color: #8b4513;
}

.back-button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #cd853f;
    color: #faebd7;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: center;
}

.back-button:hover {
    background-color: #faebd7;
    color: #8b4513;
}
