* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.Content{
    position : absolute;
    top: 3%;
    left: 2%;
}

.Name{
    position : absolute;
    bottom: 3%;
    left: 2%;
}

.page{
    box-sizing: border-box;
}

.projects{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.projects_listwrap{
    box-sizing: border-box;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects_list{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
