body {
    background: none;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#vanta {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    background-color: #000000b7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px;
    z-index: 1;
}

.profile-picture-container {
    flex: 0 0 auto; 
    margin-right: 20px;
    z-index: 1;
}

.profile-picture {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.about-text {
    flex: 1;
    overflow: auto;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center;
    color: #faebd7;
    margin: 0;
}

.back-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #fbfbfb;
    text-decoration: none;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}

/* Media Queries for Responsive Design */

/* Tablets and smaller devices */
@media only screen and (min-width: 480px) and (max-width: 767px)
{
    .about-container 
    {
        flex-direction: row;
        padding: 20px;
    }

    .profile-picture-container 
    {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .profile-picture 
    {
        width: 150px;
    }
}

/* Mobile devices */
@media (max-width: 479px) 
{
    .about-container 
    {
        flex-direction: column;
        padding: 10px;
        height: 75%; 
    }

    .profile-picture-container 
    {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .profile-picture 
    {
        width: 100px;
    }
}
